@import "sass/base";
@import "sass/concat";
@import "sass/sidebar-layout";
$base_color: #7299bf;
body {
  color: $body_color;
  background: $bg_color;
}
.dummy {
  height: 300px;
  &.rose {
    background: mistyrose;
  }
  &.blue {
    background: lightblue;
  }
}

.fixed-250-fluid {
  @include fixed-fluid(250px)
}
.fluid-100-fixed {
  @include fluid-fixed(100px)
}