@mixin fixed-fluid($width) {
  & {
    @include clearfix;
  }
  > aside {
    float: left;
    width: $width;
    margin-right: -$width;
  }
  > section {
    float: left;
    width: 100%;
    > div {
      margin-left: $width;
    }
  }
}


