@mixin fluid-fixed($width) {
  & {
    @include clearfix;
  }
  > aside {
    float: left;
    width: $width;
    margin-left: -$width;
  }
  > section {
    float: left;
    width: 100%;
    > div {
      margin-right: $width;
    }
  }
}
